$nav-toggle-colors: (
  idle: (
    bg: (
      light: "neutral-300",
    ),
    fg: (
      light: "neutral-900",
    ),
  ),
);

// Button-colors
$button-colors: (
  default: (
    idle: (
      bg: (
        light: "neutral-900",
      ),
      fg: (
        light: "neutral-000",
      ),
    ),
    hover: (
      bg: (
        light: "neutral-800",
      ),
      fg: (
        light: "neutral-000",
      ),
    ),
    focus: (
      outline: (
        light: "neutral-900",
      ),
    ),
  ),
  select: (
    idle: (
      bg: (
        light: "neutral-000",
      ),
      fg: (
        light: "neutral-900",
      ),
      border: (
        light: "neutral-300",
      ),
    ),
    hover: (
      bg: (
        light: "neutral-000",
      ),
      fg: (
        light: "neutral-900",
      ),
      border: (
        light: "neutral-900",
      ),
    ),
    focus: (
      bg: (
        light: "neutral-000",
      ),
      fg: (
        light: "neutral-900",
      ),
      offset: (
        light: "neutral-000",
      ),
      outline: (
        light: "neutral-900",
      ),
    ),
    selected: (
      bg: (
        light: "neutral-000",
      ),
      fg: (
        light: "neutral-900",
      ),
      border: (
        light: "neutral-900",
      ),
    ),
  ),
);
