@use "page" as *;
@use "borders" as *;
@use "box-shadows" as *;
@use "colors" as *;
@use "components" as *;
@use "sass:math";
@use "sass:meta";

// Rounding
@function round($number, $decimals: 0) {
  $n: 1;
  @if $decimals > 0 {
    @for $i from 1 through $decimals {
      $n: $n * 10;
    }
  }
  @return math.div(math.round($number * $n), $n);
}

//   px to rem
@function px-to-rem($px) {
  $rems: math.div($px, 16px) * 1rem;
  @return $rems;
}

//   px to em
@function px-to-em($px) {
  $ems: math.div($px, 16px) * 1em;
  @return $ems;
}

// clamp
@function fluid(
  $min-size,
  $max-size,
  $min-breakpoint: $viewport-min,
  $max-breakpoint: $viewport-max,
  $unit: vw
) {
  @if $min-size == $max-size {
    @return px-to-rem($min-size);
  } @else {
    $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
    $slope-to-unit: round($slope * 100, 2);
    $intercept-rem: round(px-to-rem($min-size - $slope * $min-breakpoint), 2);
    $min-size-rem: round(px-to-rem($min-size), 2);
    $max-size-rem: round(px-to-rem($max-size), 2);
    @return clamp(
      #{$min-size-rem},
      #{$slope-to-unit}#{$unit} + #{$intercept-rem},
      #{$max-size-rem}
    );
  }
}

// Themes mixin
@mixin theme-vars($theme) {
  //  Background-colors
  @each $context, $semantic-map in $background-colors {
    @each $semantic, $mode-map in $semantic-map {
      @each $mode, $value in $mode-map {
        @if $mode == $theme {
          --bg-#{$context}-#{$semantic}: var(--clr-#{$value});
        }
      }
    }
  }
  // Foreground-colors
  @each $context, $semantic-map in $foreground-colors {
    @each $semantic, $mode-map in $semantic-map {
      @each $mode, $value in $mode-map {
        @if $mode == $theme {
          --fg-#{$context}-#{$semantic}: var(--clr-#{$value});
        }
      }
    }
  }
  // Border-colors
  @each $semantic, $mode-map in $border-colors {
    @each $mode, $value in $mode-map {
      @if $mode == $theme {
        --bc-#{$semantic}: var(--clr-#{$value});
      }
    }
  }
  // Box-shadows
  @each $semantic, $mode-map in $box-shadow-colors {
    @each $mode, $value in $mode-map {
      @if $mode == $theme {
        --clr-bs-#{$semantic}: #{$value};
      }
    }
  }
  // Buttons
  @each $variant, $state-map in $button-colors {
    @each $state, $property-map in $state-map {
      @each $property, $mode-map in $property-map {
        @each $mode, $value in $mode-map {
          @if $mode == $theme {
            --btn-#{$property}-color-#{$state}-#{$variant}: var(
              --clr-#{$value}
            );
          }
        }
      }
    }
  }
  // Nav-toggle
  @if meta.variable-exists("nav-toggle-colors") {
    @each $state, $property-map in $nav-toggle-colors {
      @each $property, $mode-map in $property-map {
        @each $mode, $value in $mode-map {
          @if $mode == $theme {
            --nav-toggle-#{$property}-color-#{$state}: var(--clr-#{$value});
          }
        }
      }
    }
  }
  // Color-scheme
  color-scheme: #{$theme};
}
